@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;400;700&family=Noto+Serif+Display:wght@100;300;400;700&display=swap');

body {
  font-family: 'Noto Sans Display', sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(236, 14%, 20%);
  text-align: center;
}
h2 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: 'Noto Serif Display', serif;
}

h1,
h3 {
  font-weight: 700;
}

p {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

/* Utilities */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Banner Starts Here */

/*  Contact Banner */
.contact-banner {
  background-color: hsla(168, 100%, 25%, 1);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.125rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* Contact Banner Ends Here */

/* Hero Section Starts Here */
.hero-main-txt {
  flex-direction: column;
}

.hero-main-txt {
  padding: 1rem;
}
/* Hero Section Ends Here */

